/*
    Стили для базовых, общих, повторяющихся элементов
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: $COLOR_SILVER;
}

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

.flex {
    @include flex;

    &-wrap {
        @include flex-wrap(wrap);
    }

    &-v-start {
        @include align-items(flex-start);
    }

    &-v-center {
        @include align-items(center);
    }

    &-v-end {
        @include align-items(flex-end);
    }

    &-h-start {
        @include justify-content(flex-start);
    }

    &-h-center {
        @include justify-content(center);
    }

    &-h-end {
        @include justify-content(flex-end);
    }

    &-direction-row {
        @include flex-direction(row);
    }

    &-direction-column {
        @include flex-direction(column);
    }

    &-h-between {
        @include justify-content(space-between);
    }

    &-v-stretch {
        @include align-items(stretch);
    }

    &-c-start {
        @include align-content(flex-start);
    }

    &-c-center {
        @include align-content(center);
    }

    &-c-end {
        @include align-content(flex-end);
    }
}

.mobileMenu {
}


.basic-page {
}


.basic-container {
    width: 100%;
    max-width: 1600px;
}



